<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>controller.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUsers</servlet-name>
        <servlet-class>controller.GetUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUser</servlet-name>
        <servlet-class>controller.EditUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUser</servlet-name>
        <servlet-class>controller.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>controller.DeleteUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetClients</servlet-name>
        <servlet-class>controller.GetClients</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfile</servlet-name>
        <servlet-class>controller.UpdateProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddClient</servlet-name>
        <servlet-class>controller.AddClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOwners</servlet-name>
        <servlet-class>controller.GetOwners</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditClient</servlet-name>
        <servlet-class>controller.EditClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteClient</servlet-name>
        <servlet-class>controller.DeleteClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddAnimal</servlet-name>
        <servlet-class>controller.AddAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAnimal</servlet-name>
        <servlet-class>controller.DeleteAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateClient</servlet-name>
        <servlet-class>controller.UpdateClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAnimal</servlet-name>
        <servlet-class>controller.EditAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAnimal</servlet-name>
        <servlet-class>controller.UpdateAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>controller.Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessBooking</servlet-name>
        <servlet-class>controller.ProcessBooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetApps</servlet-name>
        <servlet-class>controller.GetApps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditApp</servlet-name>
        <servlet-class>controller.EditApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessUpdate</servlet-name>
        <servlet-class>controller.ProcessUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteApp</servlet-name>
        <servlet-class>controller.DeleteApp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyApps</servlet-name>
        <servlet-class>controller.MyApps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddDiag</servlet-name>
        <servlet-class>controller.AddDiag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Charts</servlet-name>
        <servlet-class>controller.Charts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Show</servlet-name>
        <servlet-class>controller.Show</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUsers</servlet-name>
        <url-pattern>/GetUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUser</servlet-name>
        <url-pattern>/EditUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUser</servlet-name>
        <url-pattern>/UpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetClients</servlet-name>
        <url-pattern>/GetClients</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfile</servlet-name>
        <url-pattern>/UpdateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddClient</servlet-name>
        <url-pattern>/AddClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOwners</servlet-name>
        <url-pattern>/GetOwners</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditClient</servlet-name>
        <url-pattern>/EditClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteClient</servlet-name>
        <url-pattern>/DeleteClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddAnimal</servlet-name>
        <url-pattern>/AddAnimal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAnimal</servlet-name>
        <url-pattern>/DeleteAnimal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateClient</servlet-name>
        <url-pattern>/UpdateClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAnimal</servlet-name>
        <url-pattern>/EditAnimal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAnimal</servlet-name>
        <url-pattern>/UpdateAnimal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessBooking</servlet-name>
        <url-pattern>/ProcessBooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetApps</servlet-name>
        <url-pattern>/GetApps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditApp</servlet-name>
        <url-pattern>/EditApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessUpdate</servlet-name>
        <url-pattern>/ProcessUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteApp</servlet-name>
        <url-pattern>/DeleteApp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyApps</servlet-name>
        <url-pattern>/MyApps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddDiag</servlet-name>
        <url-pattern>/AddDiag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Charts</servlet-name>
        <url-pattern>/Charts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Show</servlet-name>
        <url-pattern>/Show</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <listener>
        <listener-class>controller.ContextListener</listener-class>
    </listener>
</web-app>
